body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: Montserrat;
}

.gradient {
	background: linear-gradient( 90deg, #39A3FF, #00F6FF);
	z-index: 2;
	position: absolute;
	top: 45vh;
	height: 55vh;
	width: 100vw;
}

.background {
	background-color: #fff;
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	position: absolute;
}

.wave {
	position: absolute;
	top: 17vh;
	background: url(../img/wave.svg);
	z-index: 3;
	height: 30vh;
	width: 100vw;
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.card {
    position: fixed;
    bottom: 2vw;
	background-color: #fff;
	width: 96vw;
	z-index: 99;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 20px;
	color: #616161;
	
}

.card-inner {
	padding: 5vw;
	padding-left: 7vw;
	padding-right: 7vw;
}

.app-title{
	position: absolute;
	color: #39C2FF;
	z-index: 4;
	text-align: center;
   	width: 100%;
   	top: 7vh;
   	font-weight: bold;
}

.no-margin {
	margin: 0;
}


/*   Index page   */

.index-card-title {
	margin: 0;
	margin-top: 3vh;
	font-weight: bold;
	font-size: 25px;
}

.index-card {
	height: 60vh;
	text-align: center;

}

.index-input {

    border: none;
    width: 100%;
    font-size: 4vw;

}

.index-label {
	display: block;
	text-align: left;
	margin-left: 15px;
	margin-top: 4vh;
	margin-bottom: 10px;
	font-size: 4vw;
}

.index-submit {
	width: 125px;
	height: 43px;
	border-radius: 20px;
	color: #fff;
	border: none;
	margin-top: 5vh;
	font-size: 20px;
	font-family: Montserrat;
	font-weight: bold;
	background: linear-gradient(140deg,#39a3ff 20%, #00f6ff 100%);
}

.input-container {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	box-shadow: none;
    border-radius: 20px;
    border: 1px solid #B2B2B2;
    padding-top: 4vw;
    padding-bottom: 4vw;
    padding-left: 6vw;
    padding-right: 6vw;
}

.input-icon {
	float: right;
}

#icon-map {
	margin-right: 3px;
	height: 4vw;
	vertical-align: middle;
	margin: auto;
}


#icon-location{
	height: 5vw;
}


/*   Upcoming page   */
.upcoming-title {
   	color: #39C2FF;
   	margin: 0;
   	margin-left: 10vw;
   	margin-right: 10vw;
   	line-height: 35px;
   	font-size: 8vw;
}

.upcoming-title-container {
	position: absolute;
	top: 7vh;
    z-index: 4;
    text-align: center;
    width: 100%;

}

.upcoming-card {
	height: 60vh;
}

.back-arrow {
	z-index: 4;
    margin: auto;
    display: inline-flex;
    height: 100%;
    vertical-align: middle;
}

.back-arrow-button {
	position: absolute;
	height: 40px;
	width: 40px;
	z-index: 4;
	text-align: center;
	vertical-align: middle;
	margin-top: 20px;
	margin-left: 10px;

}

.drag-line {
	display: flex;
	margin-bottom: 30px;
}

.drag-line-icon {
	margin: auto;
}

.route-item {
	height: 90px;

	border: 1px solid #D1D1D1;
	border-radius: 20px;
	font-size: 4vw;

}

.route-icon{
	height: 30px;
	margin: auto;

}

.route-icon-container {
	height: 100%;
    display: flex;
    float: left;
    margin-left: 6vw;
}

.route-time {
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	
}

.route-item p {
	margin: 0;
}

.route-line {
	background-color: #4AB7FF;
	color: #fff;
	width: 39px;
	height: 22px;
	display: flex;
	border-radius: 20px;
	margin-top: 10px;

}

.route-line p {
	margin: auto;
	font-weight: bold;
}

.forward-arrow {
	float: right;
	margin: auto;
}

.forward-arrow-container {
	height: 100%;
    display: flex;
    float: right;
    margin-right: 20px;

}


/*   Route info page    */


.route-info-card {
	bottom: 50vh;
	margin-bottom: -250px;

}

.route-info {
	margin-top: 15px;

}

.route-time-info {
	display: inline-block;
	margin-left: 20px;

}

.large-route-icon {
	height: 6vh;
	/*margin: auto;*/
}

#run-icon {
	height: 4vh;
}

.info-icons {
	margin-left: 10vw;
}

.time-title {
	margin: 0;
	font-size: 25px;
}

.route-info-line {
	font-size: 15px;
	margin-top: 15px;
}

.walking-info {
	margin-top: 30px;
}

.walking-text {
	font-size: 20px;
	margin-left: 20px;
	display: inline-block;
}

.walking-text p {
	margin: 0;
}

.walking-desc {
	font-size: 15px;
	margin-top: 10px;
	line-height: 23px;

}

.activate-btn {
	width: 150px;
	height: 50px;
	margin: 0;
	border-radius: 30px;
}

.activate-btn-container {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}


/*   Popup   */

.popup-container {
	display:flex;
	justify-content:center;
	align-items:center;
	width:100vw;
	height:100vh;
}

.popup-card {
	width: 96vw;
	background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 20px;
	color: #616161;
}

.popup-title {
	color: #39C2FF;
	font-size: 20px;
	margin: 0;
	margin-top: 2vh;
	text-align: center;
}

.popup-alarm-time {
	font-size: 22px;
	margin: 0;
	margin-top: 2vh;
	text-align: center;

}

.accept-btn-container {
	text-align: center;
	margin-top: 5vh;
	margin-bottom: 2vh;

}

.accept-btn {
	border-radius: 30px;
	margin: 0;
}

.popup-route-info {
	margin-top: 30px;
}

.popup-icon {
	margin-left: 15vw;
}

.popup-time-title {
	margin: 0;
    font-size: 20px;
}