body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: Montserrat;
}

.gradient {
	background: linear-gradient( 90deg, #39A3FF, #00F6FF);
	z-index: 2;
	position: absolute;
	top: 45vh;
	height: 55vh;
	width: 100vw;
}

.background {
	background-color: #fff;
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	position: absolute;
}

.wave {
	position: absolute;
	top: 17vh;
	background: url(../img/wave.svg);
	z-index: 3;
	height: 30vh;
	width: 100vw;
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.card {
    position: fixed;
    bottom: 2vw;
	background-color: #fff;
	width: 96vw;
	z-index: 99;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 20px;
	color: #616161;
	
}

.card-inner {
	text-align: center;
	padding: 5vw;
	padding-left: 7vw;
	padding-right: 7vw;
}

.app-title{
	position: absolute;
	color: #39C2FF;
	z-index: 4;
	text-align: center;
   	width: 100%;
   	top: 7vh;
   	font-weight: bold;
}


/*   Index page   */

.index-card-title {
	margin: 0;
	margin-top: 3vh;
	font-weight: bold;
	font-size: 25px;
}

.index-card {
	height: 60vh;

}

.index-input {

    border: none;
    width: 100%;
    font-size: 4vw;

}

.index-label {
	display: block;
	text-align: left;
	margin-left: 15px;
	margin-top: 4vh;
	margin-bottom: 10px;
	font-size: 4vw;
}

.index-submit {
	width: 125px;
	height: 43px;
	border-radius: 20px;
	color: #fff;
	border: none;
	margin-top: 5vh;
	font-size: 20px;
	font-family: Montserrat;
	font-weight: bold;
	background: linear-gradient(140deg,#39a3ff 20%, #00f6ff 100%);


}

.input-container {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	box-shadow: none;
    border-radius: 20px;
    border: 1px solid #B2B2B2;
    padding-top: 4vw;
    padding-bottom: 4vw;
    padding-left: 6vw;
    padding-right: 6vw;

}

.input-icon {
	float: right;
}

#icon-map {
	margin-right: 3px;
	height: 4vw;
	vertical-align: middle;
	margin: auto;
}


#icon-location{
	height: 5vw;

}


/*   Upcoming page   */
.upcoming-title {
   	color: #39C2FF;
   	margin: 0;
   	margin-left: 10vw;
   	margin-right: 10vw;
   	line-height: 35px;
   	font-size: 8vw;
}

.upcoming-title-container {
	position: absolute;
	top: 7vh;
    z-index: 4;
    text-align: center;
    width: 100%;

}


.back-arrow {
	z-index: 4;
    margin: auto;
    display: inline-flex;
    height: 100%;
    vertical-align: middle;
}

.back-arrow-button {
	position: absolute;
	height: 40px;
	width: 40px;
	z-index: 4;
	text-align: center;
	vertical-align: middle;
	margin-top: 20px;
	margin-left: 10px;

}

.route-item {
	
}